# Notebook for analysis of `OULAD` data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-dark')

In [2]:
data = pd.read_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\Portfolio-Projects-Repository\Open University Dataset\Solutions\dataset.csv",low_memory=False)

In [3]:
data.head()

,course_name,part_name,student_id,previous_attempts,studied_credits,final_result,gender,region,education,imd_band,age_band,disability,course_part,part_length,total_assessments,avg_submission_days,average_score,total_vle_used,average_days,total_clicks
0,AAA,2013J,11391,0,240,Pass,M,East Anglian Region,HE Qualification,90-100%,55+,N,2013J,268,5.0,112.4,82.0,55.0,102.13,934.0
1,AAA,2013J,28400,0,60,Pass,F,Scotland,HE Qualification,20-30%,35-55,N,2013J,268,5.0,114.2,66.4,84.0,86.99,1435.0
2,AAA,2013J,30268,0,60,Withdrawn,F,North Western Region,A Level or Equivalent,30-40%,35-55,Y,2013J,268,NaN,NaN,NaN,22.0,2.36,281.0
3,AAA,2013J,31604,0,60,Pass,F,South East Region,A Level or Equivalent,50-60%,35-55,N,2013J,268,5.0,112.2,76.0,82.0,106.15,2158.0
4,AAA,2013J,32885,0,60,Pass,F,West Midlands Region,Lower Than A Level,50-60%,0-35,N,2013J,268,5.0,125.6,54.4,66.0,91.93,1034.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32745 entries, 0 to 32744
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_name          32745 non-null  object
 1   part_name            32745 non-null  object
 2   student_id           32745 non-null  int64
 3   previous_attempts    32745 non-null  int64
 4   studied_credits      32745 non-null  int64
 5   final_result         32745 non-null  object
 6   gender               32745 non-null  object
 7   region               32745 non-null  object
 8   education            32745 non-null  object
 9   imd_band             31616 non-null  object
 10  age_band             32745 non-null  object
 11  disability           32745 non-null  object
 12  course_part          32745 non-null  object
 13  part_length          32745 non-null  int64
 14  total_assessments    26892 non-null  float64
 15  avg_submission_days  26892 non-null  float64
 16  average_score        26892 non-null  float64
 17  total_vle_used       29893 non-null  float64
 18  average_days         29893 non-null  float64
 19  total_clicks         29893 non-null  float64
dtypes: float64(6), int64(4), object(10)
memory usage: 5.0+ MB

In [8]:
data.isnull().sum().reset_index(name='null_count')

                  index  null_count
0           course_name           0
1             part_name           0
2            student_id           0
3     previous_attempts           0
4       studied_credits           0
5          final_result           0
6                gender           0
7                region           0
8             education           0
9              imd_band        1129
10             age_band           0
11           disability           0
12          course_part           0
13          part_length           0
14    total_assessments        5853
15  avg_submission_days        5853
16        average_score        5853
17       total_vle_used        2852
18         average_days        2852
19         total_clicks        2852

`NULL VALUES ARE FOR STUDENTS WHO HAVE JUST REGISTERED, BUT WAS NOT ASSIGNED TO ANY TASK`

In [9]:
data[['total_assessments','avg_submission_days','average_score','total_vle_used','average_days','total_clicks']]

,total_assessments,avg_submission_days,average_score,total_vle_used,average_days,total_clicks
0,5.0,112.40,82.00,55.0,102.13,934.0
1,5.0,114.20,66.40,84.0,86.99,1435.0
2,NaN,NaN,NaN,22.0,2.36,281.0
3,5.0,112.20,76.00,82.0,106.15,2158.0
4,5.0,125.60,54.40,66.0,91.93,1034.0
...,...,...,...,...,...,...
32740,NaN,NaN,NaN,8.0,14.37,41.0
32741,9.0,156.22,88.11,50.0,142.93,893.0
32742,9.0,147.11,76.67,28.0,128.98,312.0
32743,2.0,65.50,91.50,17.0,36.72,275.0
32744,7.0,131.57,82.86,32.0,61.81,616.0

In [10]:
data.drop(columns=['average_days'],inplace=True)

In [12]:
data[['total_assessments','avg_submission_days','average_score','total_vle_used','total_clicks']]=data[['total_assessments','avg_submission_days','average_score','total_vle_used','total_clicks']].fillna(0)

In [14]:
data['imd_band']=data['imd_band'].fillna('0')

In [15]:
data.head()

,course_name,part_name,student_id,previous_attempts,studied_credits,final_result,gender,region,education,imd_band,age_band,disability,course_part,part_length,total_assessments,avg_submission_days,average_score,total_vle_used,total_clicks
0,AAA,2013J,11391,0,240,Pass,M,East Anglian Region,HE Qualification,90-100%,55+,N,2013J,268,5.0,112.4,82.0,55.0,934.0
1,AAA,2013J,28400,0,60,Pass,F,Scotland,HE Qualification,20-30%,35-55,N,2013J,268,5.0,114.2,66.4,84.0,1435.0
2,AAA,2013J,30268,0,60,Withdrawn,F,North Western Region,A Level or Equivalent,30-40%,35-55,Y,2013J,268,0.0,0.0,0.0,22.0,281.0
3,AAA,2013J,31604,0,60,Pass,F,South East Region,A Level or Equivalent,50-60%,35-55,N,2013J,268,5.0,112.2,76.0,82.0,2158.0
4,AAA,2013J,32885,0,60,Pass,F,West Midlands Region,Lower Than A Level,50-60%,0-35,N,2013J,268,5.0,125.6,54.4,66.0,1034.0

In [16]:
data.columns

Index(['course_name', 'part_name', 'student_id', 'previous_attempts',
       'studied_credits', 'final_result', 'gender', 'region', 'education',
       'imd_band', 'age_band', 'disability', 'course_part', 'part_length',
       'total_assessments', 'avg_submission_days', 'average_score',
       'total_vle_used', 'total_clicks'],
      dtype='object')

In [ ]:
cat_cols =