# `SOLUTION`

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-dark')

In [14]:
data = pd.read_csv(r"C:\Users\Rano's PC\Machine\github_repo_cloned\Portfolio-Projects-Repository\Synthea Datasets\Solutions\business_problems\data.csv")

In [19]:
pd.set_option('display.max_columns',None)

In [23]:
data.sample()

,encounter_id,encounter_start,encounter_stopped,patient,organization,provider,class,readmission,total_conditions,careplan_duration,total_careplans,total_careplan_reasons,medication_duration,encounter,medicins,medicine_base_cost,medicine_total_cost,patient_id,patient_age,marital,race,ethnicity,gender
48361,a008a79c-b590-43ef-9b4d-03b5b176ff74,2008-09-03 22:37:34,2008-09-04 23:37:34,5cb510f1-244d-4f02-a82b-3631e998fad1,5259a506-b80b-3ed5-9c30-83188eabf33e,3a65bdb3-12b2-3247-8e8a-0e34d295c736,inpatient,0,NaN,NaN,NaN,NaN,0.0,a008a79c-b590-43ef-9b4d-03b5b176ff74,2.0,7211.31,7211.31,5cb510f1-244d-4f02-a82b-3631e998fad1,81,m,white,nonhispanic,m

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53346 entries, 0 to 53345
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   encounter_id            53346 non-null  object
 1   encounter_start         53346 non-null  object
 2   encounter_stopped       53346 non-null  object
 3   patient                 53346 non-null  object
 4   organization            53346 non-null  object
 5   provider                53346 non-null  object
 6   class                   53346 non-null  object
 7   readmission             53346 non-null  int64
 8   total_conditions        7650 non-null   float64
 9   careplan_duration       1951 non-null   float64
 10  total_careplans         3472 non-null   float64
 11  total_careplan_reasons  3472 non-null   float64
 12  medication_duration     26037 non-null  float64
 13  medicins                27269 non-null  float64
 14  medicine_base_cost      27269 non-null  float64
 15  medicine_total_cost     27269 non-null  float64
 16  patient_id              53346 non-null  object
 17  patient_age             53346 non-null  int64
 18  marital                 53346 non-null  object
 19  race                    53346 non-null  object
 20  ethnicity               53346 non-null  object
 21  gender                  53346 non-null  object
dtypes: float64(8), int64(2), object(12)
memory usage: 9.0+ MB

In [ ]:
data.drop(columns=['encounter_x','encounter_y'],inplace=True)

In [30]:
data.drop(columns=['encounter'],inplace=True)

In [44]:
print('Null Values ->')
data.isnull().sum()[data.isnull().sum()>0].reset_index()

Null Values ->

                    index      0
0        total_conditions  45696
1       careplan_duration  51395
2         total_careplans  49874
3  total_careplan_reasons  49874
4     medication_duration  27309
5                medicins  26077
6      medicine_base_cost  26077
7     medicine_total_cost  26077

In [45]:
null_columns = data.isnull().sum()[data.isnull().sum()>0].reset_index().iloc[:,0].values.tolist()

In [50]:
data[null_columns]=data[null_columns].fillna(0)

In [51]:
data.shape

(53346, 22)

In [52]:
data.isnull().sum()

encounter_id              0
encounter_start           0
encounter_stopped         0
patient                   0
organization              0
provider                  0
class                     0
readmission               0
total_conditions          0
careplan_duration         0
total_careplans           0
total_careplan_reasons    0
medication_duration       0
medicins                  0
medicine_base_cost        0
medicine_total_cost       0
patient_id                0
patient_age               0
marital                   0
race                      0
ethnicity                 0
gender                    0
dtype: int64

In [53]:
data.sample()

,encounter_id,encounter_start,encounter_stopped,patient,organization,provider,class,readmission,total_conditions,careplan_duration,total_careplans,total_careplan_reasons,medication_duration,medicins,medicine_base_cost,medicine_total_cost,patient_id,patient_age,marital,race,ethnicity,gender
12087,d6c3dfbc-8dde-40b7-8125-92e5c0efd08a,2019-08-23 17:56:51,2019-08-23 18:11:51,4b92e3f1-b92b-48ec-9baa-2905409d1743,02c59aef-a75f-33f2-a161-25b01d9a5bc4,925f2ec6-7847-3fd0-bdf9-06ff85ca0d04,wellness,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4b92e3f1-b92b-48ec-9baa-2905409d1743,5,u,white,nonhispanic,f

In [54]:
data.shape

(53346, 22)

In [62]:
data.describe(include='object')

,encounter_id,encounter_start,encounter_stopped,patient,organization,provider,class,patient_id,marital,race,ethnicity,gender
count,53346,53346,53346,53346,53346,53346,53346,53346,53346,53346,53346,53346
unique,53346,50029,52461,1171,1103,1104,6,1171,3,5,2,2
top,1306d180-d887-4286-b940-9a6a2425cf93,1973-07-27 23:35:03,1994-01-22 20:21:53,cae10920-f977-48b4-a0d3-4d70ad561fd1,be4c63f3-8d38-3fa9-a183-62045b5c85f6,8f9aea5b-fd01-37c0-8931-18b6d64bdae6,wellness,cae10920-f977-48b4-a0d3-4d70ad561fd1,m,white,nonhispanic,f
freq,1,7,4,2006,3217,3217,19106,2006,30413,41794,49267,26891

In [64]:
data.describe(include='number').round(2)

,readmission,total_conditions,careplan_duration,total_careplans,total_careplan_reasons,medication_duration,medicins,medicine_base_cost,medicine_total_cost,patient_age
count,53346.00,53346.00,53346.00,53346.00,53346.00,53346.00,53346.0,53346.00,53346.00,53346.00
mean,0.39,0.16,7.07,0.07,0.07,122.49,0.8,258.23,1876.55,60.16
std,0.49,0.41,117.48,0.25,0.25,442.99,1.2,775.84,11663.18,29.82
min,0.00,0.00,0.00,0.00,0.00,-1.00,0.0,0.00,0.00,0.00
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,35.00
50%,0.00,0.00,0.00,0.00,0.00,0.00,1.0,6.92,7.36,60.00
75%,1.00,0.00,0.00,0.00,0.00,360.00,1.0,263.49,3161.88,81.00
max,1.00,7.00,10203.00,2.00,2.00,24090.00,10.0,9253.63,1296594.95,111.00

In [69]:
data.select_dtypes(include='object').nunique().reset_index()

                index      0
0        encounter_id  53346
1     encounter_start  50029
2   encounter_stopped  52461
3             patient   1171
4        organization   1103
5            provider   1104
6               class      6
7          patient_id   1171
8             marital      3
9                race      5
10          ethnicity      2
11             gender      2

In [70]:
data.drop(columns=['patient','organization','provider','patient_id'],inplace=True)

In [73]:
data['encounter_start']=pd.to_datetime(data['encounter_start'])

In [74]:
data['encounter_stopped']=pd.to_datetime(data['encounter_stopped'])

In [76]:
data.select_dtypes(include='object').nunique().reset_index()

          index      0
0  encounter_id  53346
1         class      6
2       marital      3
3          race      5
4     ethnicity      2
5        gender      2

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53346 entries, 0 to 53345
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   encounter_id            53346 non-null  object
 1   encounter_start         53346 non-null  datetime64[ns]
 2   encounter_stopped       53346 non-null  datetime64[ns]
 3   class                   53346 non-null  object
 4   readmission             53346 non-null  int64
 5   total_conditions        53346 non-null  float64
 6   careplan_duration       53346 non-null  float64
 7   total_careplans         53346 non-null  float64
 8   total_careplan_reasons  53346 non-null  float64
 9   medication_duration     53346 non-null  float64
 10  medicins                53346 non-null  float64
 11  medicine_base_cost      53346 non-null  float64
 12  medicine_total_cost     53346 non-null  float64
 13  patient_age             53346 non-null  int64
 14  marital                 53346 non-null  object
 15  race                    53346 non-null  object
 16  ethnicity               53346 non-null  object
 17  gender                  53346 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(2), object(6)
memory usage: 7.3+ MB

In [78]:
data['readmission'] = data['readmission'].astype('str')

In [85]:
cat_cols = data.select_dtypes(include='object').columns.values

In [86]:
num_cols = data.select_dtypes(include='number').columns.values

In [87]:
date_cols = data.select_dtypes(include='datetime').columns.values

`